.env
.env.backup
.env.production
.env.testing
.php-cs-fixer.cache
.phpactor.json
.phpunit.cache
.phpunit.result.cache
auth.json
node_modules
npm-debug.log
public/build
public/coverage-report
public/hot
public/storage
storage/*.key
vendor
yarn-error.log
